data from census ->

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'/Users/chewy2.0/Capstone'

In [3]:
os.chdir('/Users/chewy2.0/Capstone/data/merge stuff')

In [4]:
county_data = pd.read_csv('county_populations_2010_2019.csv', dtype = {'GEOID': 'str'})
county_data.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,...,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,GEOID
0,50,1,1,0,0,0,0,A,Autauga County,Alabama,...,55227,54954,54727,54893,54864,55243,55390,55533,55869,01001
1,50,1,3,0,0,0,0,A,Baldwin County,Alabama,...,186558,190145,194885,199183,202939,207601,212521,217855,223234,01003
2,50,1,5,0,0,0,0,A,Barbour County,Alabama,...,27341,27169,26937,26755,26283,25806,25157,24872,24686,01005
3,50,1,7,0,0,0,0,A,Bibb County,Alabama,...,22745,22667,22521,22553,22566,22586,22550,22367,22394,01007
4,50,1,9,0,0,0,0,A,Blount County,Alabama,...,57560,57580,57619,57526,57526,57494,57787,57771,57826,01009

In [5]:
county_data = county_data[['GEOID','CENSUS2010POP',
       'ESTIMATESBASE2010', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017',
       'POPESTIMATE2018', 'POPESTIMATE2019']]

In [6]:
to_rename = ['POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017',
       'POPESTIMATE2018', 'POPESTIMATE2019']
new_names = [name[-4:] for name in to_rename]  
new_names

['2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [7]:
# try again with michael's asc data 
os.chdir('/Users/chewy2.0/Capstone/data/merge stuff')

acs_pop = pd.read_csv('acs_population.csv', dtype = {'GEOID':'str'})
acs_pop.head()

  B01003_001E  year  GEOID
0       53155  2010  01001
1      175791  2010  01003
2       27699  2010  01005
3       22610  2010  01007
4       56692  2010  01009

In [8]:
acs_pop.rename(columns = {'B01003_001E': 'Pop_Est'}, inplace = True)
acs_pop.head()

  Pop_Est  year  GEOID
0   53155  2010  01001
1  175791  2010  01003
2   27699  2010  01005
3   22610  2010  01007
4   56692  2010  01009

In [9]:
acs_pop.head()

  Pop_Est  year  GEOID
0   53155  2010  01001
1  175791  2010  01003
2   27699  2010  01005
3   22610  2010  01007
4   56692  2010  01009

# merge with other stuff

In [10]:
os.chdir('/Users/chewy2.0/Capstone')

In [11]:
all_but_pop = pd.read_csv('all_but_pop.csv', dtype = {'GEOID': 'str'}, low_memory=False)
all_but_pop.head()

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,...,Administrative_Support_Waste_Management_Remediation_Services_base,Educational_Services_base,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base,GDP,pop_gt_16,pop_gt_16_lf,pop_gt_16_lf_c
0,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010.0,2010,12709685,41067,H,3,3,2.0,...,0,0,0,0,0,0,35138407,397577,282343,281948
1,D613933,"NIKE, INC.",2010.0,2010,29354180,41067,NaN,1,1,1.0,...,0,0,0,0,0,0,35138407,397577,282343,281948
2,D613934,"NIKE, INC.",2010.0,2010,29354185,41067,NaN,1,1,1.0,...,0,0,0,0,0,0,35138407,397577,282343,281948
3,D613935,"NIKE, INC.",2010.0,2010,29354186,41067,NaN,1,1,0.0,...,0,0,0,0,0,0,35138407,397577,282343,281948
4,D613936,"NIKE, INC.",2010.0,2010,29354188,41067,NaN,1,1,0.0,...,0,0,0,0,0,0,35138407,397577,282343,281948

In [16]:
all_but_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715757 entries, 0 to 1715756
Data columns (total 71 columns):
 #   Column                                                             Dtype
---  ------                                                             -----
 0   patent_number                                                      object
 1   assignee                                                           object
 2   grant_year                                                         float64
 3   application_year                                                   int64
 4   application_number                                                 int64
 5   GEOID                                                              object
 6   ipc_section                                                        object
 7   team_size                                                          int64
 8   inventors                                                          int64
 9   men_inventors                                                      float64
 10  women_inventors                                                    int64
 11  already_granted                                                    int64
 12  assignee_uni_clean2                                                object
 13  Institution                                                        object
 14  Control                                                            object
 15  level_r1                                                           float64
 16  level_r2                                                           float64
 17  special_focus                                                      float64
 18  Perc_Over25_LessNinthGrade                                         float64
 19  Perc_Over25_SomeHighSchool                                         float64
 20  Perc_Over25_HighSchoolGrad                                         float64
 21  Perc_Over25_SomeCollege                                            float64
 22  Perc_Over25_Assosciates                                            float64
 23  Perc_Over25_Bachelors                                              float64
 24  Perc_Over25_Graduate                                               float64
 25  bea_region                                                         object
 26  Agriculture_Forestry_Fishing_Hunting                               float64
 27  Mining_Quarrying_and_Oil_Gas_Extraction                            float64
 28  Utilities                                                          float64
 29  Construction                                                       float64
 30  Manufacturing                                                      float64
 31  Wholesale_Trade                                                    float64
 32  Retail_Trade                                                       float64
 33  Transportation_Warehousing                                         float64
 34  Information                                                        float64
 35  Finance_Insurance                                                  float64
 36  Real_Estate_Rental_Leasing                                         float64
 37  Professional_Scientific_and_Technical_Services                     float64
 38  Management_of_Companies_Enterprises                                float64
 39  Administrative_Support_Waste_Management_Remediation_Services       float64
 40  Educational_Services                                               float64
 41  Health_Care_Social_Assistance                                      float64
 42  Arts_Entertainment_and_Recreation                                  float64
 43  Accommodation_Food_Services                                        float64
 44  Other_Services_except_Public_Administration                        float64
 45  qp1                                                                int64
 46  ap                                                                 int64
 47  est                                                                int64
 48  Agriculture_Forestry_Fishing_Hunting_base                          int64
 49  Mining_Quarrying_and_Oil_Gas_Extraction_base                       int64
 50  Utilities_base                                                     int64
 51  Construction_base                                                  int64
 52  Manufacturing_base                                                 int64
 53  Wholesale_Trade_base                                               int64
 54  Retail_Trade_base                                                  int64
 55  Transportation_Warehousing_base                                    int64
 56  Information_base                                                   int64
 57  Finance_Insurance_base                                             int64
 58  Real_Estate_Rental_Leasing_base                                    int64
 59  Professional_Scientific_and_Technical_Services_base                int64
 60  Management_of_Companies_Enterprises_base                           int64
 61  Administrative_Support_Waste_Management_Remediation_Services_base  int64
 62  Educational_Services_base                                          int64
 63  Health_Care_Social_Assistance_base                                 int64
 64  Arts_Entertainment_and_Recreation_base                             int64
 65  Accommodation_Food_Services_base                                   int64
 66  Other_Services_except_Public_Administration_base                   int64
 67  GDP                                                                int64
 68  pop_gt_16                                                          int64
 69  pop_gt_16_lf                                                       int64
 70  pop_gt_16_lf_c                                                     int64
dtypes: float64(31), int64(32), object(8)
memory usage: 929.4+ MB

In [12]:
# test_merge = pd.merge(all_but_pop, acs_pop,
#                        how = 'outer',
#                        left_on = ['GEOID', 'application_year'],
#                        right_on = ['GEOID', 'year'],
#                        indicator = 'matched',
#                        validate = 'many_to_one')

# test_merge.query(" matched == 'left_only'")

In [12]:
all_data = pd.merge(all_but_pop, acs_pop,
                       how = 'left',
                       left_on = ['GEOID', 'application_year'],
                       right_on = ['GEOID', 'year'])

all_data.head()

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,...,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base,GDP,pop_gt_16,pop_gt_16_lf,pop_gt_16_lf_c,Pop_Est,year
0,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010.0,2010,12709685,41067,H,3,3,2.0,...,0,0,0,0,35138407,397577,282343,281948,516665,2010
1,D613933,"NIKE, INC.",2010.0,2010,29354180,41067,NaN,1,1,1.0,...,0,0,0,0,35138407,397577,282343,281948,516665,2010
2,D613934,"NIKE, INC.",2010.0,2010,29354185,41067,NaN,1,1,1.0,...,0,0,0,0,35138407,397577,282343,281948,516665,2010
3,D613935,"NIKE, INC.",2010.0,2010,29354186,41067,NaN,1,1,0.0,...,0,0,0,0,35138407,397577,282343,281948,516665,2010
4,D613936,"NIKE, INC.",2010.0,2010,29354188,41067,NaN,1,1,0.0,...,0,0,0,0,35138407,397577,282343,281948,516665,2010

In [13]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1715719 entries, 0 to 1715718
Data columns (total 73 columns):
 #   Column                                                             Dtype
---  ------                                                             -----
 0   patent_number                                                      object
 1   assignee                                                           object
 2   grant_year                                                         float64
 3   application_year                                                   int64
 4   application_number                                                 int64
 5   GEOID                                                              object
 6   ipc_section                                                        object
 7   team_size                                                          int64
 8   inventors                                                          int64
 9   men_inventors                                                      float64
 10  women_inventors                                                    int64
 11  already_granted                                                    int64
 12  assignee_uni_clean2                                                object
 13  Institution                                                        object
 14  Control                                                            object
 15  level_r1                                                           float64
 16  level_r2                                                           float64
 17  special_focus                                                      float64
 18  Perc_Over25_LessNinthGrade                                         float64
 19  Perc_Over25_SomeHighSchool                                         float64
 20  Perc_Over25_HighSchoolGrad                                         float64
 21  Perc_Over25_SomeCollege                                            float64
 22  Perc_Over25_Assosciates                                            float64
 23  Perc_Over25_Bachelors                                              float64
 24  Perc_Over25_Graduate                                               float64
 25  bea_region                                                         object
 26  Agriculture_Forestry_Fishing_Hunting                               float64
 27  Mining_Quarrying_and_Oil_Gas_Extraction                            float64
 28  Utilities                                                          float64
 29  Construction                                                       float64
 30  Manufacturing                                                      float64
 31  Wholesale_Trade                                                    float64
 32  Retail_Trade                                                       float64
 33  Transportation_Warehousing                                         float64
 34  Information                                                        float64
 35  Finance_Insurance                                                  float64
 36  Real_Estate_Rental_Leasing                                         float64
 37  Professional_Scientific_and_Technical_Services                     float64
 38  Management_of_Companies_Enterprises                                float64
 39  Administrative_Support_Waste_Management_Remediation_Services       float64
 40  Educational_Services                                               float64
 41  Health_Care_Social_Assistance                                      float64
 42  Arts_Entertainment_and_Recreation                                  float64
 43  Accommodation_Food_Services                                        float64
 44  Other_Services_except_Public_Administration                        float64
 45  qp1                                                                int64
 46  ap                                                                 int64
 47  est                                                                int64
 48  Agriculture_Forestry_Fishing_Hunting_base                          int64
 49  Mining_Quarrying_and_Oil_Gas_Extraction_base                       int64
 50  Utilities_base                                                     int64
 51  Construction_base                                                  int64
 52  Manufacturing_base                                                 int64
 53  Wholesale_Trade_base                                               int64
 54  Retail_Trade_base                                                  int64
 55  Transportation_Warehousing_base                                    int64
 56  Information_base                                                   int64
 57  Finance_Insurance_base                                             int64
 58  Real_Estate_Rental_Leasing_base                                    int64
 59  Professional_Scientific_and_Technical_Services_base                int64
 60  Management_of_Companies_Enterprises_base                           int64
 61  Administrative_Support_Waste_Management_Remediation_Services_base  int64
 62  Educational_Services_base                                          int64
 63  Health_Care_Social_Assistance_base                                 int64
 64  Arts_Entertainment_and_Recreation_base                             int64
 65  Accommodation_Food_Services_base                                   int64
 66  Other_Services_except_Public_Administration_base                   int64
 67  GDP                                                                int64
 68  pop_gt_16                                                          int64
 69  pop_gt_16_lf                                                       int64
 70  pop_gt_16_lf_c                                                     int64
 71  Pop_Est                                                            object
 72  year                                                               int64
dtypes: float64(31), int64(33), object(9)
memory usage: 968.7+ MB

In [14]:
all_data.shape

(1715719, 73)

In [15]:
pd.set_option('display.max_rows', 130)

# clean up data -> grant_year and men_inventors

In [16]:
all_data.iloc[1].T

patent_number                                                           D613933
assignee                                                             NIKE, INC.
grant_year                                                               2010.0
application_year                                                           2010
application_number                                                     29354180
GEOID                                                                     41067
ipc_section                                                                 NaN
team_size                                                                     1
inventors                                                                     1
men_inventors                                                               1.0
women_inventors                                                               0
already_granted                                                               1
assignee_uni_clean2                                                  nike, inc.
Institution                                                                 NaN
Control                                                                     NaN
level_r1                                                                    NaN
level_r2                                                                    NaN
special_focus                                                               NaN
Perc_Over25_LessNinthGrade                                                  5.0
Perc_Over25_SomeHighSchool                                                  5.3
Perc_Over25_HighSchoolGrad                                                 17.6
Perc_Over25_SomeCollege                                                    22.5
Perc_Over25_Assosciates                                                     8.3
Perc_Over25_Bachelors                                                      26.1
Perc_Over25_Graduate                                                       15.2
bea_region                                                             Far West
Agriculture_Forestry_Fishing_Hunting                                   1.128043
Mining_Quarrying_and_Oil_Gas_Extraction                                 0.07633
Utilities                                                                   0.0
Construction                                                           1.026322
Manufacturing                                                          1.227994
Wholesale_Trade                                                        2.381687
Retail_Trade                                                           0.975335
Transportation_Warehousing                                             0.374296
Information                                                            1.403992
Finance_Insurance                                                      0.902561
Real_Estate_Rental_Leasing                                             1.256738
Professional_Scientific_and_Technical_Services                         1.056455
Management_of_Companies_Enterprises                                         0.0
Administrative_Support_Waste_Management_Remediation_Services           0.905091
Educational_Services                                                   0.900785
Health_Care_Social_Assistance                                           0.70196
Arts_Entertainment_and_Recreation                                      0.743885
Accommodation_Food_Services                                            0.729915
Other_Services_except_Public_Administration                            0.764135
qp1                                                                     2574212
ap                                                                     10134543
est                                                                       14150
Agriculture_Forestry_Fishing_Hunting_base                                     1
Mining_Quarrying_and_Oil_Gas_Extraction_base                                  0
Utilities_base                                                                0
Construction_base                                                             1
Manufacturing_base                                                            1
Wholesale_Trade_base                                                          1
Retail_Trade_base                                                             0
Transportation_Warehousing_base                                               0
Information_base                                                              1
Finance_Insurance_base                                                        0
Real_Estate_Rental_Leasing_base                                               1
Professional_Scientific_and_Technical_Services_base                           1
Management_of_Companies_Enterprises_base                                      0
Administrative_Support_Waste_Management_Remediation_Services_base             0
Educational_Services_base                                                     0
Health_Care_Social_Assistance_base                                            0
Arts_Entertainment_and_Recreation_base                                        0
Accommodation_Food_Services_base                                              0
Other_Services_except_Public_Administration_base                              0
GDP                                                                    35138407
pop_gt_16                                                                397577
pop_gt_16_lf                                                             282343
pop_gt_16_lf_c                                                           281948
Pop_Est                                                                  516665
year                                                                       2010
Name: 1, dtype: object

In [16]:
all_data = all_data.assign(grant_year = all_data.grant_year.astype('Int64'),
                          men_inventors = all_data.men_inventors.astype('Int64'))

all_data.head()

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,...,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base,GDP,pop_gt_16,pop_gt_16_lf,pop_gt_16_lf_c,Pop_Est,year
0,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010,2010,12709685,41067,H,3,3,2,...,0,0,0,0,35138407,397577,282343,281948,516665,2010
1,D613933,"NIKE, INC.",2010,2010,29354180,41067,NaN,1,1,1,...,0,0,0,0,35138407,397577,282343,281948,516665,2010
2,D613934,"NIKE, INC.",2010,2010,29354185,41067,NaN,1,1,1,...,0,0,0,0,35138407,397577,282343,281948,516665,2010
3,D613935,"NIKE, INC.",2010,2010,29354186,41067,NaN,1,1,0,...,0,0,0,0,35138407,397577,282343,281948,516665,2010
4,D613936,"NIKE, INC.",2010,2010,29354188,41067,NaN,1,1,0,...,0,0,0,0,35138407,397577,282343,281948,516665,2010

In [18]:
#os.getcwd()

In [18]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1715719 entries, 0 to 1715718
Data columns (total 73 columns):
 #   Column                                                             Dtype
---  ------                                                             -----
 0   patent_number                                                      object
 1   assignee                                                           object
 2   grant_year                                                         Int64
 3   application_year                                                   int64
 4   application_number                                                 int64
 5   GEOID                                                              object
 6   ipc_section                                                        object
 7   team_size                                                          int64
 8   inventors                                                          int64
 9   men_inventors                                                      Int64
 10  women_inventors                                                    int64
 11  already_granted                                                    int64
 12  assignee_uni_clean2                                                object
 13  Institution                                                        object
 14  Control                                                            object
 15  level_r1                                                           float64
 16  level_r2                                                           float64
 17  special_focus                                                      float64
 18  Perc_Over25_LessNinthGrade                                         float64
 19  Perc_Over25_SomeHighSchool                                         float64
 20  Perc_Over25_HighSchoolGrad                                         float64
 21  Perc_Over25_SomeCollege                                            float64
 22  Perc_Over25_Assosciates                                            float64
 23  Perc_Over25_Bachelors                                              float64
 24  Perc_Over25_Graduate                                               float64
 25  bea_region                                                         object
 26  Agriculture_Forestry_Fishing_Hunting                               float64
 27  Mining_Quarrying_and_Oil_Gas_Extraction                            float64
 28  Utilities                                                          float64
 29  Construction                                                       float64
 30  Manufacturing                                                      float64
 31  Wholesale_Trade                                                    float64
 32  Retail_Trade                                                       float64
 33  Transportation_Warehousing                                         float64
 34  Information                                                        float64
 35  Finance_Insurance                                                  float64
 36  Real_Estate_Rental_Leasing                                         float64
 37  Professional_Scientific_and_Technical_Services                     float64
 38  Management_of_Companies_Enterprises                                float64
 39  Administrative_Support_Waste_Management_Remediation_Services       float64
 40  Educational_Services                                               float64
 41  Health_Care_Social_Assistance                                      float64
 42  Arts_Entertainment_and_Recreation                                  float64
 43  Accommodation_Food_Services                                        float64
 44  Other_Services_except_Public_Administration                        float64
 45  qp1                                                                int64
 46  ap                                                                 int64
 47  est                                                                int64
 48  Agriculture_Forestry_Fishing_Hunting_base                          int64
 49  Mining_Quarrying_and_Oil_Gas_Extraction_base                       int64
 50  Utilities_base                                                     int64
 51  Construction_base                                                  int64
 52  Manufacturing_base                                                 int64
 53  Wholesale_Trade_base                                               int64
 54  Retail_Trade_base                                                  int64
 55  Transportation_Warehousing_base                                    int64
 56  Information_base                                                   int64
 57  Finance_Insurance_base                                             int64
 58  Real_Estate_Rental_Leasing_base                                    int64
 59  Professional_Scientific_and_Technical_Services_base                int64
 60  Management_of_Companies_Enterprises_base                           int64
 61  Administrative_Support_Waste_Management_Remediation_Services_base  int64
 62  Educational_Services_base                                          int64
 63  Health_Care_Social_Assistance_base                                 int64
 64  Arts_Entertainment_and_Recreation_base                             int64
 65  Accommodation_Food_Services_base                                   int64
 66  Other_Services_except_Public_Administration_base                   int64
 67  GDP                                                                int64
 68  pop_gt_16                                                          int64
 69  pop_gt_16_lf                                                       int64
 70  pop_gt_16_lf_c                                                     int64
 71  Pop_Est                                                            object
 72  year                                                               int64
dtypes: Int64(2), float64(29), int64(33), object(9)
memory usage: 971.9+ MB

## Save it -> next needs to go through education attainment processing

In [17]:
all_data.to_csv('PATENTS_DATA.csv', index = False)