In [1]:
import pandas as pd
import os

In [2]:
path = "./data/acs/population/"
new_df = pd.DataFrame()
for root, dirs, files in os.walk(path):
    for file in files:
        print(os.path.join(path,file))
        print(file[7:11])
        temp_df = pd.read_csv(os.path.join(path,file))
        temp_df['year'] = file[7:11]        
        new_df = pd.concat([new_df, temp_df])
        # new_df = new_df.append(temp_df)
        print(new_df.shape)
new_df

./data/acs/population/ACSDT5Y2010.B01003-Data.csv
2010
(3222, 8)
./data/acs/population/ACSDT5Y2011.B01003-Data.csv
2011
(6444, 8)
./data/acs/population/ACSDT5Y2012.B01003-Data.csv
2012
(9666, 8)
./data/acs/population/ACSDT5Y2013.B01003-Data.csv
2013
(12888, 8)
./data/acs/population/ACSDT5Y2014.B01003-Data.csv
2014
(16109, 8)
./data/acs/population/ACSDT5Y2015.B01003-Data.csv
2015
(19330, 8)
./data/acs/population/ACSDT5Y2016.B01003-Data.csv
2016
(22551, 8)
./data/acs/population/ACSDT5Y2017.B01003-Data.csv
2017
(25772, 8)
./data/acs/population/ACSDT5Y2018.B01003-Data.csv
2018
(28993, 8)
./data/acs/population/ACSDT5Y2019.B01003-Data.csv
2019
(32214, 8)
./data/acs/population/ACSDT5Y2020.B01003-Data.csv
2020
(35436, 8)

,GEO_ID,NAME,B01003_001M,B01003_001MA,B01003_001E,B01003_001EA,Unnamed: 6,year
0,Geography,Geographic Area Name,Margin of Error!!Total,Annotation of Margin of Error!!Total,Estimate!!Total,Annotation of Estimate!!Total,NaN,2010
1,0500000US01001,"Autauga County, Alabama",*****,*****,53155,NaN,NaN,2010
2,0500000US01003,"Baldwin County, Alabama",*****,*****,175791,NaN,NaN,2010
3,0500000US01005,"Barbour County, Alabama",*****,*****,27699,NaN,NaN,2010
4,0500000US01007,"Bibb County, Alabama",*****,*****,22610,NaN,NaN,2010
...,...,...,...,...,...,...,...,...
3217,0500000US72145,"Vega Baja Municipio, Puerto Rico",*****,*****,51089,NaN,NaN,2020
3218,0500000US72147,"Vieques Municipio, Puerto Rico",*****,*****,8508,NaN,NaN,2020
3219,0500000US72149,"Villalba Municipio, Puerto Rico",*****,*****,21899,NaN,NaN,2020
3220,0500000US72151,"Yabucoa Municipio, Puerto Rico",*****,*****,32867,NaN,NaN,2020
3221,0500000US72153,"Yauco Municipio, Puerto Rico",*****,*****,34501,NaN,NaN,2020

In [3]:
new_df['GEOID'] = new_df['GEO_ID']
new_df.rename(columns={'B01003_001E' : 'Pop_Est'}, inplace=True)
new_df.drop(['NAME','B01003_001M','B01003_001MA','B01003_001EA','Unnamed: 6', 'GEO_ID'], axis=1, inplace=True)
new_df = new_df.iloc[1: , :].copy()

In [4]:
new_df['GEOID'] = new_df['GEOID'].str.replace("0500000US","")
new_df

         pop  year  GEOID
1      53155  2010  01001
2     175791  2010  01003
3      27699  2010  01005
4      22610  2010  01007
5      56692  2010  01009
...      ...   ...    ...
3217   51089  2020  72145
3218    8508  2020  72147
3219   21899  2020  72149
3220   32867  2020  72151
3221   34501  2020  72153

[35435 rows x 3 columns]

In [6]:
len(new_df['GEOID'].unique())

3226

In [8]:
new_df.to_csv("./data/acs/acs_population.csv", index=False)