In [1]:
import pandas as pd
from File_Utilities import FileTools
FileTools.MYDIR = "./data/" # Set the directory where the files are stored.

## Work to do:

### Get crosswalks done

* City - State -> state fips, county fips
* State - County -> state fips, county fips

### Merge all datasets on Patents data

* CBP
* R1 Univesities
* Education attainment
* BLS Data

<hr>

## Where it all lives on UVa Box:

#### Patents data:
* https://virginia.box.com/s/kf87aosoest2cndkg8kz5q3swl3a6v8a


#### County Business Data:
* https://virginia.box.com/s/w29fm0p5hyhf6af2kmfsnlgh09absr5m


#### University Data:
* https://virginia.box.com/s/wc9lu8akn38ngmbtzyfylo3seubupp6d
* https://virginia.box.com/s/xbzuhkzbuxs6altinkpy3a01352osdvc
* https://virginia.box.com/s/xpnmm2m4h5pbrxurt6pwczmc1saqlrgd

#### Education Attainment Data:
* https://virginia.box.com/s/hyzexyweiqj4l9tjyop0z9cmm8jfok31

#### Labor Force Data:
* Needs to be combined

#### Business Applications Data:
* Needs to be cleaned/munged.

<hr>

In [2]:
# the file names 

patents_file = "reduced_2009_2019.csv"
cbp_file = 'cbp_lq_2digit_naics_all_years.gzip'
r1_file = 'r1_universities.csv'
r2_file = 'r2_universities.csv'
r3_file = 'r3_universities.csv'
edattain_file = 'ed_attainment(5 year estimates)_combined_bycounty_year.csv'
laborforce_file = ''
business_applications = ''

In [3]:
patents_df = pd.read_csv(FileTools.get_full_file_path(patents_file),low_memory=False )
patents_df.head()

,Unnamed: 0,patent_number,assignee,grant_year,application_year,application_number,country,city,state,county,ipc_section,team_size,inventors,men_inventors,women_inventors
0,0,7472428,"NIKE, INC.",2009,2004,10814594,US,Beaverton,OR,Washington,A,2,2,2,0
1,1,7472430,WATKINS MANUFACTURING CORPORATION,2009,2006,11604596,US,Vista,CA,San Diego,E,4,4,4,0
2,2,7472431,WATKINS MANUFACTURING CORPORATION,2009,2004,10899547,US,Vista,CA,San Diego,A,1,1,1,0
3,3,7472433,MASCO CORPORATION OF INDIANA,2009,2006,11325927,US,Indianapolis,IN,Marion,E F G,2,2,2,0
4,4,7472434,"T&S BRASS AND BRONZE WORKS, INC.",2009,2008,12052249,US,Travelers Rest,SC,Greenville,E,3,3,3,0

### Merge CBP

In [4]:
# Do the merge here.
cbp_df = FileTools.load_df_from_parquet(cbp_file)
cbp_df.head()

,fipstate,fipscty,naics,emp_nf,emp_county_naics,qp1_nf,qp1,ap_nf,ap,est,...,percent_of_us_emp,emp_us_naics,emp_us,location_quotient_county_state,location_quotient_county_us,year,censtate,cencty,empflag,n1_4
1,1,1,11,H,92,G,1183,H,5232,10,...,0.001246,167204,134163349,2.275330,6.553056,2020,NaN,NaN,nan,NaN
7,1,1,21,G,85,G,1208,G,4874,5,...,0.004308,577921,134163349,2.227180,1.751673,2020,NaN,NaN,nan,NaN
12,1,1,22,H,165,H,5460,H,19533,8,...,0.004748,637058,134163349,1.722931,3.084663,2020,NaN,NaN,nan,NaN
17,1,1,23,G,559,G,6211,G,25764,79,...,0.053532,7182071,134163349,0.951378,0.926968,2020,NaN,NaN,nan,NaN
49,1,1,31,H,949,J,18468,J,77500,22,...,0.089442,11999822,134163349,0.565732,0.941877,2020,NaN,NaN,nan,NaN

In [ ]:
cbp_df[['county_fips']]

### Merge Universities

In [ ]:
# Do the merge here
r1_universities_df = FileTools.load_df_from_csv(r1_file)
print(r1_universities_df.shape)
r2_universities_df = FileTools.load_df_from_csv(r2_file)
print(r2_universities_df.shape)
r3_universities_df = FileTools.load_df_from_csv(r3_file)
print(r3_universities_df.shape)

### Merge Education attainment

In [ ]:
# Do the merge here
edattain_df = FileTools.load_df_from_csv(edattain_file)
edattain_df.head()

### Merge BLS here

In [ ]:
# Do the merge here